@font-face{
    font-family: "Proxima Nova";
    src: url("fonts/metropolis-bold-webfont.woff") format('woff');
    font-weight: bold;
}

@font-face{
    font-family: "Proxima slim";
    src: url("fonts/Metropolis-Light.woff") format('woff');

}


body{
    font-family: 'Proxima Nova', sans-serif;
    background-color:#F0F6F7;
    margin-top: 8%;
    margin-left:2%;
    margin-right:2%;
}

ul li{
    font-weight: bold;
}

.text-responsive {
    font-size: calc(100% + 1vw + 1vh);
}

@media only screen and (min-width: 992px) {
    .nav-link.active {
        border-bottom: 3px solid lightcoral;
    }
}

.navbar {
    background-color: #FFF;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    transition: 0.3s;
}

#navbar{
    margin-bottom: 10rem !important;
    background-color: #FFF;
}

#textbox{
  height: 100px;
}

h2{
  color: #264E5A;
}

.list-group-item {
    position: relative;
    display: block;

    color: #212529;
    text-decoration: none;
    background-color: #F0F6F7;
    font-family: "Proxima slim";
}
strong {
    font-family: "Proxima Nova";
}

.thin {
    font-family: "Proxima slim";
}

.ital {
    font-family: "Proxima ital";

}

p {
    font-family: "Proxima slim";

}

@media (min-width:768px) { /* don't break navbar on small screen */
    #nav_center {
        width: 700px /* need to found your width according to your entry*/
    }
}
