
@font-face{
    font-family: "Proxima Nova";
    src: url("fonts/metropolis-bold-webfont.woff") format('woff');
    font-weight: bold;
}

body{
    font-family: 'Proxima Nova', sans-serif;
    background-color:#F0F6F7;
}
ul li{
    font-weight: bold;
}
.text-responsive {
    font-size: calc(100% + 1vw + 1vh);
}

@media only screen and (min-width: 992px) {
    .active {
        border-bottom: 3px solid lightcoral;
    }
}

.navbar {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    transition: 0.3s;
}

#navbar{
    margin-bottom: 10rem !important;
}