@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
body{
    font-family: 'Proxima Nova', sans-serif;
}
ul li{
    font-weight: bold;
}
.text-responsive {
    font-size: calc(100% + 1vw + 1vh);
}
.nav-item a.active {
    border-bottom: 3px solid lightcoral;
}